body {
  background-color: #EBEBEB;
  font-family: "open sans";
  color: #310A31;
  font-size: 15px;
  line-height: 1.5em;
}

h1 {
  color: #586BA4;
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 1.5em;
}

h2 {
  color: #EF767A;
  font-family: "Montserrat";
  font-size: 23px;
  line-height: 1.8em;
}

h3 {
  color: #59C3C3;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 1.7em;
}

a {
  color: #094074;
  text-decoration: none;
}

a:hover {
  color: #96616B
}

ul {
  list-style: none;
}

.card {
  background: white;                          /* White background */
  padding: 20px;                              /* Internal space */
  border-radius: 10px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
  width: 600px;        /* Set the width */
  margin: 30px auto;      /* Set automatic margins on right/left */
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
}
